@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img style="width: 240px;border-radius:120px;float:left" src="/pic/pic-small.png" alt="c#,dotnet,winform,WPF,SQL,Unity,ASP.net"/>
    <h1 class="display-4">Hongbo Zhao(Joe)</h1>
    <h2 >Winnipeg, Manitoba, Canada; Cell Phone:204-898 1816</h2>
    <h2 class= "display-5"><a href="mailto:zhaohongbo1980@gmail.com">Email Me</a></h2>
    <h2> <a href="/file/Joe Resume.pdf" download>PDF Resume Download</a></h2>    
    <br />
</div>

<div class="text-left">
    <h3>Highlighted Qualifications</h3>
    <p>* Strong at C#, Visual Studio with more than 10 years’ experience.  Good at VB, C++.</p>
    <p>* Strong at Windows platform technology such as socket communication, serial communication, hardware interface,regular algorithm, design pattern, etc.</p>
    <p>* Good at SQL, SQLite, MySQL, more than 3 years’ experience.</p>
    <p>* Familiar with Azure, ASP.net.</p>
    <p>* Good at WPF, Familiar with MVVM architecture.</p>
    <p>* Familiar Scrum, Github.</p>
    <p>* 3 months Unity experience.</p>
    <p>* 5 years’ experience at a project management.</p>
    <p>* Good experience at software design document writing.</p>
    <p>* Proficient at Agile development.</p>
        
     <h3>Work Samples</h3>     
     <p>Github link: <a href="https://github.com/potatozhb?tab=repositories">My work Samples</a></p>
     <h4>DesignpatternAgSample Project</h4>
     <p>some basic design pattern codes: Singleton, Factory,Bridge,Observer,Command,State,Strategy...</p>
     <p>Some algorithm codes: Async upload data, binary search tree build, remove node, balance, strong connection search, tries.</p>
     <p>Machine learning: Use ML.net to build a model to analyze the customer comments is positive 	or negative.</p>
     <p>Azure SQL database and ASP.net: This website itself.</p>
     <h4>MVVMworksample Project</h4>
     <p>MVVMworksample: Use WPF to do a MVVM sample.</p>
     <p>CaliburnMicro: Use Caliburn Micro lib to do a MVVM sample.</p>
     <p>MapControl: Compare WPF map and universal map.</p>

     <h3>Work Experience</h3>
     
     <h3>Education Background</h3>

     
     <h3>Reference</h3>

</div>

